<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AES Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="LayoutIT">

    <div id="Affix">
        <div class="container-fluid" id="BackToTopDashIT">
            <div class="col-md-push-4">
                <img src="~/Content/Images/AESLogo_White.svg" alt="AES Logo">
            </div>

            <div class="=col-md-12">
                <h2 class="affix-heading">IT Specialist</h2>
            </div>

            <div class="jumbotron">
                <h1>User Management</h1>
            </div>

            <div id="circlebutton">
                <a data-smooth="true" href="#containerStart" class="btn btn-circle">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>


        </div>
    </div>

    <div id="custom-navbar">
        <div class="nav-wrapper">
            <nav class="navbar navbar-inverse affix" data-spy="affix" data-offset-top="720">
                <ul class="nav navbar-nav">

                    <li id="navbarlogo" class="li-no-hover">
                        <a href="#">
                            <img src="~/Content/Images/AESLogo_White.svg" alt="AES Logo">
                        </a>
                    </li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "IT")</li>
                    <li>@Html.ActionLink("Store Management", "Stores", "IT")</li>
                    <li>@Html.ActionLink("User Management", "Users", "IT")</li>
                </ul>
                @Html.Partial("_LogoutPartial")
            </nav>
        </div>
    </div>

    <div id="containerStart" class="container-fluid body-content bg-diag-grad">
        <div class="container">
            @RenderBody()
            <footer>
                <p>&copy; @DateTime.Now.Year - AES</p>
            </footer>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SmoothScroll.js")
    @RenderSection("scripts", required: false)
</body>
</html>
