@model IEnumerable<AES.Web.Models.JobOpeningsViewModel>

@{
    ViewBag.Title = "Job Openings";
    Layout = "../Shared/_LayoutNavbarOnlyLogo.cshtml";
}

<h2>Job Openings</h2>

<div class="row">
    <div class="col-md-12">
        <section id="availableJobs">
            @using (Html.BeginForm("AvailableJobs", "JobOpenings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, 
                new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please select the jobs you wish to apply for.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                for (int i = 0; i < Model.Count(); ++i) {
                    <div class="bottom-spacing">
                        @* Checkbox for the jobs *@
                        <div class="pull-left">
                            @Html.EditorFor(m => m.ToArray()[i].JobCheckbox, new { @checked = "checked" })
                            @Html.HiddenFor(m => m.ToArray()[i].JobID)
                            @Html.HiddenFor(m => m.ToArray()[i].StoreID)
                        </div>
                        <div class="no-overflow padLeft">
                            @* Display Job Title *@
                            <div class="h3">
                                <!-- Trigger the modal with Title -->
                                <a class="modal-link" data-toggle="modal" data-target="#LongDescModal">@Model.ToArray()[i].Title</a>
                                @Html.HiddenFor(m => m.ToArray()[i].Title)

                                <div class="modal fade" id="LongDescModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">@Model.ToArray()[i].Title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>@Model.ToArray()[i].LongDesc</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                @Html.DisplayFor(m => m.ToArray()[i].ShortDesc)
                                @Html.HiddenFor(m => m.ToArray()[i].ShortDesc)
                            </div>
                        </div>
                    </div>
                }

                <div class="bottom-left">
                    @*@Html.ActionLink("Next Section", "NextSection", "Application", new { @class = "beginButton" })*@
                    <input type="submit" value="Apply for Job(s)" class="btn btn-default" />
                </div>
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}