@model AES.Web.Models.AvailabilityViewModel

@{
    ViewBag.Title = "Availability";
    ViewBag.NextSection = "Proceed to Work History";
}

<h2>Availability</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Availability", "Application", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>When are you available to work?</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                // Sunday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.SundayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.SundayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.SundayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.SundayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.SundayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.SundayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Monday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.MondayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.MondayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.MondayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.MondayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.MondayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.MondayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Tuesday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.TuesdayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.TuesdayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.TuesdayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.TuesdayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.TuesdayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.TuesdayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Wednesday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.WednesdayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.WednesdayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.WednesdayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.WednesdayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.WednesdayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.WednesdayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Thursday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.ThursdayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.ThursdayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.ThursdayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.ThursdayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.ThursdayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.ThursdayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Friday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.FridayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.FridayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.FridayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.FridayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.FridayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.FridayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                // Saturday
                <div class="form-group">
                    <div>
                        @Html.ValidationMessageFor(m => m.SaturdayStart, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.SaturdayEnd, "", new { @class = "text-danger" })
                    </div>
                    @*Monday Start time *@
                    @Html.LabelFor(m => m.SaturdayStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.SaturdayStart, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* Monday end time *@
                    @Html.LabelFor(m => m.SaturdayEnd, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.SaturdayEnd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                Html.RenderPartial("_Navigation");
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}