@model AES.Web.Models.WorkHistoryViewModel

<div class="enumItem">
    <div class="form-group enumSectionHeader">
        <h3 class="control-label col-md-2">Employer</h3>
        <a href="#" class="deleteGroup" onclick="deleteEnumItem(event)">Delete</a>
    </div>

    <div class="form-group">
        @* Employer's Name *@
        @Html.LabelFor(m => m.Employer, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Employer, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Employer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* Supervisor *@
        @Html.LabelFor(m => m.Supervisor, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Supervisor, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Supervisor, "", new { @class = "text-danger" })
        </div>
        @* Phone *@
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-1 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* Employer's Address *@
        @* Street *@
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* City *@
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
        @* State *@
        @Html.LabelFor(m => m.State, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
        </div>
        @* Zip *@
        @Html.LabelFor(m => m.Zip, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* Country *@
        @Html.LabelFor(m => m.EmployerCountry, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.EmployerCountry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployerCountry, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* Reason for Leaving *@
        @Html.LabelFor(m => m.ReasonForLeaving, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.ReasonForLeaving, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReasonForLeaving, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* Responsibilities *@
        @Html.LabelFor(m => m.Responsibilities, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Responsibilities, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Responsibilities, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.ValidationMessageFor(m => m.WorkedFrom, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.WorkedTo, "", new { @class = "text-danger" })
        </div>
        @* Worked From *@
        @Html.LabelFor(m => m.WorkedFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.WorkedFrom, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @* Worked To *@
        @Html.LabelFor(m => m.WorkedTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.WorkedTo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.ValidationMessageFor(m => m.StartingSalary, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.EndingSalary, "", new { @class = "text-danger" })
        </div>
        @* Starting Salary *@
        @Html.LabelFor(m => m.StartingSalary, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.StartingSalary, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @* Ending Salary *@
        @Html.LabelFor(m => m.EndingSalary, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.EndingSalary, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>