@model AES.Web.Models.EducationViewModel

<div class="enumItem">
    <div class="form-group enumSectionHeader">
        <h3 class="control-label col-md-2">School</h3>
        <a href="#" class="deleteGroup" onclick="deleteEnumItem(event)">Delete</a>
    </div>

    @* School Name *@
    <div class="form-group">
        @Html.LabelFor(m => m.SchoolName, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.SchoolName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SchoolName, "", new { @class = "text-danger" })
        </div>
    </div>

    @* School Address *@
    <div class="form-group">
        @Html.LabelFor(m => m.SchoolAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.SchoolAddress, new { @class = "form-control" })
        </div>
    </div>

    @* School City/State/ZIP *@
    <div class="form-group">
        @Html.LabelFor(m => m.SchoolCity, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.SchoolCity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SchoolCity, "", new { @class = "text-danger" })
        </div>
        @* State *@
        @Html.LabelFor(m => m.SchoolState, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.SchoolState, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SchoolState, "", new { @class = "text-danger" })
        </div>
        @* Zip *@
        @Html.LabelFor(m => m.SchoolZip, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.SchoolZip, new { @class = "form-control" })
        </div>
    </div>

    @* School Country *@
    <div class="form-group">
        @Html.LabelFor(m => m.SchoolCountry, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.SchoolCountry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SchoolCountry, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Degree and Major *@
    <div class="form-group">
        @* Degree *@
        @Html.LabelFor(m => m.Degree, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.EnumDropDownListFor(m => m.Degree, new { @class = "form-control" })
        </div>

        @* Major *@
        @Html.LabelFor(m => m.Major, new { @class = "col-md-1 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Major, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.Degree, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Major, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Years Attended and Graduation Date *@
    <div class="form-group">
        @* Years Attended *@
        @Html.LabelFor(m => m.YearAttended, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.YearAttended, new { @class = "form-control" })
        </div>

        @* Graduation Date *@
        @Html.LabelFor(m => m.GraduationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.GraduationDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.YearAttended, "", new { @class = "text-danger" })
        </div>
    </div>
</div>