@model AES.Web.Models.ReferencesViewModel

<div class="enumItem">
    <div class="form-group enumSectionHeader">
        <h3 class="control-label pull-left">Reference</h3>
        <a href="#" class="deleteGroup padLeft" onclick="deleteEnumItem(event)">Delete</a>
    </div>

    @* Name and Phone *@
    <div class="form-group">
        @* Reference Name *@
        @Html.LabelFor(m => m.Name, new { @class = "col-md-1 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        @* Phone Number *@
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-1 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Company and Title *@
    <div class="form-group">
        @* Company *@
        @Html.LabelFor(m => m.Company, new { @class = "col-md-1 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
        </div>

        @* Title *@
        @Html.LabelFor(m => m.Title, new { @class = "col-md-1 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
</div>
