@model AES.Web.Models.WorkHistoryViewModel

<div class="enumItem">
    <div class="form-group enumSectionHeader">
        <h3 class="control-label col-md-2">Employer</h3>
        <a href="#" class="deleteGroup" onclick="deleteEnumItem(event)">Delete</a>
    </div>

    @* Employer's Name *@
    <div class="form-group">
        @Html.LabelFor(m => m.EmployerName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.EmployerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployerName, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Supervisor and Phone *@
    <div class="form-group">
        @Html.LabelFor(m => m.SupervisorName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.SupervisorName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupervisorName, "", new { @class = "text-danger" })
        </div>
        @* Phone *@
        @Html.LabelFor(m => m.EmployerPhone, new { @class = "col-md-1 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.EmployerPhone, new { @class = "form-control" })
        </div>
    </div>

    @* Employer's Address *@
    <div class="form-group">
        @Html.LabelFor(m => m.EmployerAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.EmployerAddress, new { @class = "form-control" })
        </div>
    </div>

    @* City, State, ZIP *@
    <div class="form-group">
        @* City *@
        @Html.LabelFor(m => m.EmployerCity, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.EmployerCity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployerCity, "", new { @class = "text-danger" })
        </div>
        @* State *@
        @Html.LabelFor(m => m.EmployerState, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.EmployerState, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployerState, "", new { @class = "text-danger" })
        </div>
        @* Zip *@
        @Html.LabelFor(m => m.EmployerZip, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.EmployerZip, new { @class = "form-control" })
        </div>
    </div>

    @* Country *@
    <div class="form-group">
        @Html.LabelFor(m => m.EmployerCountry, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.EmployerCountry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployerCountry, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Reason for Leaving *@
    <div class="form-group">
        @Html.LabelFor(m => m.ReasonForLeaving, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.ReasonForLeaving, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReasonForLeaving, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Responsibilities *@
    <div class="form-group">
        @Html.LabelFor(m => m.Responsibilities, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Responsibilities, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Responsibilities, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Start/End Date *@
    <div class="form-group">
        <div>
            @Html.ValidationMessageFor(m => m.WorkedFrom, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.WorkedTo, "", new { @class = "text-danger" })
        </div>
        @* Worked From *@
        @Html.LabelFor(m => m.WorkedFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.WorkedFrom, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @* Worked To *@
        @Html.LabelFor(m => m.WorkedTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.WorkedTo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    @* Start/End Salary *@
    <div class="form-group">
        @* Starting Salary *@
        @Html.LabelFor(m => m.StartingSalary, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.StartingSalary, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @* Ending Salary *@
        @Html.LabelFor(m => m.EndingSalary, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.EditorFor(m => m.EndingSalary, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>