<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewBag.Title - AES Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="StaticAppHMLayout" data-spy="scroll" data-target=".navbar" data-offset="60">

    <div id="Affix">
        <div class="container-fluid" id="BackToTop">
            <div class="col-md-push-4">
                <img src="~/Content/Images/AESLogo_White.svg" alt="AES Logo">
            </div>

            <div class="=col-md-12">
                <h2 class="affix-heading">Hiring Manager</h2>
            </div>

            <div class="jumbotron">
                <h1>Applicant Information</h1>
            </div>

            <div id="circlebutton">
                <a data-smooth="true" href="#Title" class="btn btn-circle">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>


        </div>
    </div>
    
    <div id="custom-navbar">
        <div class="nav-wrapper">
            <nav class="navbar navbar-inverse affix" data-spy="affix" data-offset-top="720">
                <ul class="nav navbar-nav">

                    <li id="navbarlogo" class="li-no-hover">
                        <a href="#">
                            <img src="~/Content/Images/AESLogo_White.svg" alt="AES Logo">
                        </a>
                    </li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "IT")</li>
                    <li><a data-smooth="true" href="#profile">Profile</a></li>
                    <li><a data-smooth="true" href="#availability">Availability</a></li>
                    <li><a data-smooth="true" href="#workhistory">Work History</a></li>
                    <li><a data-smooth="true" href="#education">Education</a></li>
                    <li><a data-smooth="true" href="#references">References</a></li>
                    <li><a data-smooth="true" href="#questionnaire">Questionnaire</a></li>
                    <li><a data-smooth="true" href="#notes">Notes</a></li>
                </ul>
                @Html.Partial("_LogoutPartial")
            </nav>
        </div>
    </div>
   


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SmoothScroll.js")
    @Scripts.Render("~/Scripts/SlideAnim.js")
    @RenderSection("scripts", required: false)
</body>
</html>
