<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewBag.Title - AES Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="OnlyLogoLayout" data-spy="scroll" data-target=".navbar" data-offset="60">

    <div class="navbar navbar-inverse bg-diag-grad">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                    <img src="~/Content/Images/AESLogo_White.svg" alt="AES Logo">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LogoutPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer>
            <p>&copy; @DateTime.Now.Year - AES</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SmoothScroll.js")
    @RenderSection("scripts", required: false)
</body>
</html>



